.imgexesa{
	display: none;
	position: absolute;
	top: -570%;
	left: 122%;
	width: 150%;
	height: 690%;
}
.exes2:hover .imgexesa{
	display: block;
}
.imgexesb{
	display: none;
	position: absolute;
	top: -520%;
	left: 290%;
	width: 170%;
	height: 600%;
}
.exes2:hover .imgexesb{
	display: block;
}
.imgexesc{
	display: none;
	position: absolute;
	top: -510%;
	left: 480%;
	width: 190%;
	height: 580%;
}
.exes2:hover .imgexesc{
	display: block;
}
.imgv2{
	display: none;
	position: absolute;
	top: -600%;
	left: -190%;
	width: 250%;
	height: 580%;
}
.varia2:hover .imgv2{
	display: block;
}
.botvec1{
	position: absolute;
	top: 448%;
	left: 24%;
    width: 10%;
    height: 7%;
}
.bvt1{
    position: absolute;
    top: 3%;
    left: 24%;
    width: 10%;
    height: 7%;
    color: #6EC0B7;
    font-size: 200%;
    font-family: letra4;
}
.im{
	display: none;
	position: absolute;
	top: 230%;
	left: -1%;
	width: 515%;
	height: 585%;
}
.botvec1:hover .im{
	display: block;
}

.bvt2{
    position: absolute;
    top: 3%;
    left: 4%;
    width: 10%;
    height: 7%;
    color: #6EC0B7;
    font-size: 200%;
    font-family: letra4;
}
.botvec2{
	position: absolute;
	top: 448%;
	left: 54%;
    width: 10%;
    height: 7%;
}
.im1{
	display: none;
	position: absolute;
	top: 230%;
	left: -290%;
	width: 450%;
	height: 595%;
}
.botvec2:hover .im1{
	display: block;
}
.bot1condicional{
	position: absolute;
	top: 555%;
	right: 53%;
	background-color: #C8BFE7;
	width: 5%;
	height: 7%;
}
.imgc1{
	display: none;
	position: absolute;
	top: 120%;
	width: 850%;
	height: 850%;
	left: -780%;
}
.bot1condicional:active .imgc1{
	display: block;
}
.bot2condicional{

}
.video{
	position: absolute;
	width: 50%;
	height: 50%;
	left: 50%;
	top: 565%;
}
.imciclo1{
	position: absolute;
	top: 679%;
	right: 53%;
	background-color: #FCC5C1;
	width: 5%;
	height: 7%;
}
.cc1{
	display: none;
	position: absolute;
	top: 200%;
	left: -760%;
	height: 720%;
	width: 820%;
}
.imciclo1:active .cc1{
	display: block;
}
.video2{
	position: absolute;
	top: 680%;
	left: 49%;
	width: 50%;
	height: 69%;
}
